/* CustomerDashboard.css

.dashboard {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .dashboard-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .dashboard-navigation {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .dashboard-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dashboard-menu-item {
    margin-bottom: 10px;
  }
  
  .dashboard-menu-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  
  .dashboard-menu-link:hover {
    color: #0056b3;
  }
   */


   /* Admin.css */
body{
    /* padding-top: 100px; */
    background: #fcf4fb;
}
.dashboard {
    padding: 20px;
    background-color: white;
    /* background-color: #f4f4f4; */
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .dashboard-nav {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  
  .dashboard-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dashboard-menu-item {
    margin-bottom: 10px;
  }
  
  .dashboard-menu-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1.1rem;
    transition: color 0.3s;
    display: block;
    padding: 10px;
    border-radius: 4px;
  }
  
  .dashboard-menu-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
  }
  