/* Footer.css */
.footer-container {
    background-color: rgb(236, 206, 206);
    padding: 2rem 0;
}

.footer-logo img {
    height: 70px;
}

.footer-description {
    color: #343a40;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.footer-links a {
    color: #343a40;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.footer-links a:hover {
    color: #007bff;
}

.footer-social-icons a {
    color: #343a40;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.footer-social-icons a:hover {
    color: #007bff;
}
